<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= @cocktail.picture_url %>);">
  <div class="banner-container">
    <h3><strong><%= @cocktail.name %></strong></h3>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="description col-8">
      <div class="cocktail-details">
        <h5><strong>Description</strong></h5>
          <ol>
            <% @cocktail.doses.each do |dose| %>
              <li><%= "#{dose.description} of #{dose.ingredient.name}" %>
                <%= link_to "Remove",
                  cocktail_dose_path(dose),
                  method: :delete,
                  data: { confirm: "Are you sure?" } %>
              </li>
            <% end %>
          </ol>
      </div>
      <div class="add-dose">
        <h5>🍹 <strong>Add a new dose</strong> 🍹</h5>
        <%#= simple_form_for [ @cocktail, @dose ] do |f| %>
          <%#= f.input :description %>
          <%#= f.association :ingredient %>
          <%#= f.submit class: 'btn btn-primary'%>
          <%#= f.button :button, "Cancel", type: "reset", class: "btn btn-danger" %>
        <%# end %>
      </div>
        <div class="links-cocktail">
        <%= link_to "New dose", new_cocktail_dose_path(@cocktail) %>
      </div>
    </div>

    <div class="ingredients-details col-4">
      <div class="cocktail-details">
        <h5><strong>Ingredients</strong></h5>
        <ul>
          <% @cocktail.ingredients.each do |ingredient| %>
            <li><%= ingredient.name %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>

  <%= link_to "Back", root_path, class: "btn btn-primary" %>
</div>
